@model Document

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<button type="button">
    <a asp-action="Index">Back</a>
</button>
<button type="button">
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</button>
<button type="button">
    <a asp-action="Update" asp-route-id="@Model.Id">Update</a>
</button>
<button type="button">
    <a asp-controller="Chapter" asp-action="Create" asp-route-id="@Model.Id">Create chapter</a>
</button>
@{
    <div class="card">
        <img src="@Model.Image" alt="Avatar" style="width:300px;height: 300px">
        <div class="container">
            <h4>
                <b>
                    <a>@Model.Name</a>
                </b>
            </h4>
            <h5>
                <b>
                    <a>@Model.Id</a>
                </b>
            </h5>
            <p>@Model.Author</p>
            <p>@Model.Price</p>
            <p>@Model.Summary</p>
            <p>@Model.CreatedAt</p>
            <ul>
                <h5>Chapter</h5>
                @{
                    if (Model.Chapters == null)
                    {
                        <li>No chapter for document</li>
                    }
                    else
                    {
                        foreach (var chapter in Model.Chapters)
                        {
                            <li>
                                <a asp-controller="Chapter" asp-action="Detail" asp-route-id="@chapter.Id">@chapter.Content</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
}